
<footer  ng-controller="footer" ng-cloak >

    <div layout="column" layout-padding layout-margin>
        <!--<div flex></div>-->
        <div  layout="row" layout-xs="column" layout-sm="column" layout-align="center center" layout-padding layout-margin>

            <!--<div flex></div>-->
            <div layout="column" layout-align="center start" >
                <md-button class="md-accent md-hue-3">Site Map</md-button>
                <md-button class="md-accent md-hue-3">About Us</md-button>
            </div>

            <!--<div flex></div>-->
            <div layout="column" layout-align="center start">
                <md-button class="md-accent md-hue-3" >Contact Developer</md-button>
                <md-button class="md-primary">Bug Report</md-button>
                <md-button class="md-primary">Request New Features</md-button>


            </div>
            <!--<div flex></div>-->
            <div layout="column" layout-align="center start" >
                <md-button class="md-accent md-hue-3">Marketing/Sales</md-button>
                <md-button class="md-primary">API access</md-button>
                <md-button class="md-primary">Contact Us</md-button>
            </div>
            <!--<div flex></div>-->
        </div>
        <!--<div flex></div>-->
    </div>



</footer>