<div ng-controller="gListSummary as sum">

    <!-- some blank area -->
    <div>
        <br><br><br>
    </div>

    <div layout="row" layout-fill layout-align="center center" >

        <h2 >{{title}}</h2>

        <md-card>

        </md-card>
    </div>
</div>