
<!-- this section is to show user account details : username(email address), first/last name, and so on... -->
<div ng-controller="userAccount as ctrl" layout="row" layout-align="center center" style="background-color: #fff;min-height: 500px;" >
    <div layout="column" layout-align="center center" layour-fill>
        {{test}}
    </div>

</div>